* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding-left: 0;
}
body {
    font-family: 'Manrope', sans-serif;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background: #FFFFFF;
    padding: 16px 0;
    box-shadow: 0px 1px 0px #E5E9F2;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-right: 32px;
    }
    &__button {
        &:first-child {
            margin-right: 12px;
        }
    }
}

.inner {
    &__menu {
        display: flex;
        margin-right: auto;
        &-item {
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #18191F;
        }
    }
}

.features {
    background-color: #0B0D17;
    padding: 80px 0;
    &__title {
        text-align: center;
        margin: 0 auto;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #FFFFFF;
        max-width: 730px;
        margin-bottom: 48px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, 1fr));
        gap: 30px;
        margin-bottom: 48px;
    }
    &__item {
        background: #FFFFFF;
        border-radius: 8px;
        padding: 40px 32px;
        &-img {
            margin-bottom: 56px;
        }
        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #18191F;
            margin-bottom: 12px;
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #18191F;
            margin-bottom: 40px;
        }
        &-link {
            position: relative;
            color: #8C30F5;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            &::after {
                content: "";
                position: absolute;
                background-image: url(../img/arrowPurple.svg);
                width: 16px;
                height: 16px;
                left: 51px;
                top: 1px;
            }
        }
    }
    &__button {
        position: relative;
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        padding: 16px 60px 16px 20px;

        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            right: 18px;
            top: 19px;
            background-image: url(../img/arrowWhite.svg);
        }
    }
}

.logos {
    background-color: #fff;
    padding: 20px 0;
    &__list {
        padding: 40px 110px;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before, &::after {
            content: "";
            position: absolute;
            height: 2px;
            left: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);;
        }
        &::before {
            top: 0;
        }
        &::after{
            bottom: 0;
           }
        
    }
}

.info {
    text-align: center;
    &__title {
        margin-top: 60px;
        margin-bottom: 8px;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #18191F;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #18191F;
        margin-bottom: 48px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        gap: 30px;
        margin-bottom: 35px;
    }
    &__item {
        position: relative;
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
        }
        &-title {
            margin-top: 50px;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #18191F;
            margin-bottom: 8px;
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #18191F;
            margin-bottom: 30px;
        }
    }
}

.footer {
    background-color: #0B0D17;
    padding: 56px 0;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #D9DBE1;
    }
    &__logo {
        width: 32px;
        height: 32px;
        margin-bottom: 24px;
    }
    &__list {
        display: flex;
        margin-bottom: 12px;
        &-item {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-right: 24px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__copywrite {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-top: 24px;
    }
    right {
        display: flex;
        flex-direction: column;
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    &__button{
        &-img {
            width: 135px;
            height: 40px;
            margin-bottom: 16px;
        }
    }

}